body{
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: Verdane, sans-sans-serif;
  color: #333;
}

body h1{
  font-size: 36px;
  font-weight: normal;
  padding: 10px;
}

.container{
  width: 820px;
  margin: 0 auto;
  padding: 60px 0;
}

.orange_bg{
  color: #fff;
  background: url(bg.png);
  background-size: cover;
}

.section-title{
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 60px;
  margin-top: 0;
}

.section-title::after{
  content: attr(data-subtitle);
  display: block;
  font-size: 16px;
  color: #aaa;
  padding-top: 5px;
}

button{
  width: 290px;
  color: #f39380;
  background: #fff;
  padding: 8px 0;
  border-radius: 10px;
  opacity: 0.9;
  font-weight: bold;
}

button:hover{
  opacity: 1.0;
  cursor: pointer;
}

/* header */

header .container{
  position: relative;
}

header img{
  position: absolute;
  bottom: 0;
  right: 0;
}

header p{
  margin-bottom: 50px;
}

/* features */

.feature{
  overflow: hidden;
}

.feature:not(:last-child){
  padding-bottom: 60px;
}

.features h1{
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

.feature .desc{
  width: 360px;
}

.feature:nth-last-of-type(odd) .desc{
  float: right;
  padding-left: 40px;

}

.feature:nth-last-of-type(even) .desc{
  float: left;
  padding-right: 40px;
}

/* voices */

.voices{
  background: rgb(232, 232, 225);
}

.voices .flex{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.voice{
  width: 250px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 60px 40px 25px;
}

.voice img{
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -55px;
}

.voice h1{
  text-align: center;
  font-size: 18px;
}

/* call-to-action */

.call-to-action{
  text-align: center;
}

.call-to-action .section-title{
  margin-bottom: 15px;
}

/* footer */

footer{
  padding: 20px 0;
  text-align: center;
  color: #aaa;
}
